<!DOCTYPE html>
<html>
<head>
  <title>This Map in History</title>  
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>  
<body>
  <div id = "home">
  <h1>Welcome to This Map in History</h1>
  <p>Input a state below to find the history that lies there.</p>
  <form action="/map" method="POST">
    <input type="text" name="state" placeholder="newjersey">
    <p>What is todays date?</p>
    <input type="text" name="date" placeholder="05/14/15">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
  </div>
  
</body>
</html>