<!doctype html>
<html>
  <head>
    <title>History Lies Here</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id = "map">
      <h1><%= @state %></h1>
      <br>
      <h2><%= @fact[0] %></h2>
      <h2><%= @fact[1] %></h2>
    </div>
  </body>
</html>